.navbar.navbar-fixed-top
  .navbar-inner
    .container
      - if content_for?(:blog_title)
        = yield(:blog_title)
      - else
        =link_to "HomeStays", "/", :class => "brand"
      .nav-collapse
        %ul.nav
          %li
            =link_to "Search", "/"
        %form{ :class => "navbar-search pull-right" }
          %input{ :class => "search-query span2", :type => "text", :placeholder => "Search" }
